#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.users-table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ffffff54;
  /* Línea inferior para cada fila */
}

table tbody tr:hover{
  background-color: #5298f3;
}

.color-row:nth-child(odd) {
  background-color: #b8b8b873;
  /* Color de fondo para filas impares */
}

/* Estilo para las filas pares */
.color-row:nth-child(even) {
  background-color: #797979;
  /* Color de fondo para filas pares */
}

.user-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #797979;
}

.sort-control{
  cursor: pointer;
}
